<!DOCTYPE html>
<html lang="en">
{{> header}}
<body class="bg-dark">
    <div class="container text-center my-3">
        <div class="jumbotron" style="background-color: salmon;color: white;">
            <h1>Error</h1>
            <h2>User already exists</h2>
        </div>
    </div>
</body>
{{> footer}}

